<launch>
    <node pkg="object_detection_pkg" type="camera_publisher.py" name="camera_publisher" output="screen"/>
    <node pkg="object_detection_pkg" type="object_detection_node.py" name="object_detection_node" output="screen"/>
    <node pkg="object_detection_pkg" type="motor_control.py" name="motor_control_node" output="screen"/>
    <node pkg="object_detection_pkg" type="keyboard_control.py" name="keyboard_control_node" output="screen"/>
    <node pkg="object_detection_pkg" type="telemetry_node.py" name="telemetry_node" output="screen"/>
</launch>
